!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Hairtiste
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .container
      %div
        %h1 HAIRTISTE
        %div.box.one
        %div.box.two
        %fiv.box.three


    = yield
